.appointment {
  padding: 1.25em;
  min-width: 120px;
  min-height: 80px;
  border-radius: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: var(--backgroundCardHover);
  }
}

.reserved {
  background-color: var(--backgroundCardActive);

  &:hover {
    background-color: var(--backgroundCardActiveHover);
  }
}

.now {
  background-color: var(--backgroundCardChecked);

  &:hover {
    background-color: var(--backgroundCardChecked);
  }
}

.hasPassed {
  opacity: .5;
  pointer-events: none;
}